/* line 5, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_font.scss */
.header, .cover h1, .cover h2, .cover h3, .heading-2, h2 {
  font-family: "Interstate Bd", sans-serif;
}

/* line 5, ../sass/_font.scss */
.cover {
  padding: 40px 0 0 40px;
}
/* line 8, ../sass/_font.scss */
.cover h1, .cover h2, .cover h3 {
  border: none;
  color: #fff;
  padding: 0 55% 20px 0;
}
/* line 14, ../sass/_font.scss */
.cover h1 {
  font-size: 60pt;
  line-height: 64pt;
}
/* line 18, ../sass/_font.scss */
.cover h2 {
  font-size: 23pt;
  line-height: 28pt;
  padding-bottom: 0;
}
/* line 23, ../sass/_font.scss */
.cover h3 {
  font-size: 18pt;
  line-height: 20pt;
}
/* line 28, ../sass/_font.scss */
.cover .red {
  background-color: red;
  line-height: 84pt;
  padding: 0 10px;
}

/* line 35, ../sass/_font.scss */
.heading-2, h2 {
  border-bottom: 15px solid #ae1228;
  display: block;
  font-size: 30pt;
  line-height: 32pt;
  padding: 0 0 35px 0;
  width: 100%;
}

/* line 45, ../sass/_font.scss */
.heading-3, h3 {
  font-family: "Interstate reg", sans-serif;
  font-size: 15pt;
  font-weight: lighter;
  line-height: 20pt;
  padding: 20px 0;
}

/* line 53, ../sass/_font.scss */
.content, body, p {
  color: #1e1547;
  font-family: "Interstate Lt", sans-serif;
}

/* line 62, ../sass/_font.scss */
p {
  font-weight: lighter !important;
  padding: 20px 0;
}

/* line 68, ../sass/_font.scss */
.footnote {
  font-family: "Interstate Lt", sans-serif;
  font-size: 8pt;
  line-height: 10pt;
}

/* line 74, ../sass/_font.scss */
q {
  font-family: "Georgia", sans-serif;
  font-size: 30pt;
  line-height: 32pt;
  padding-bottom: 40px;
}

/* line 1, ../sass/_layout.scss */
section {
  min-height: 95%;
  margin: 20px auto 80px auto;
  max-width: 900px;
  padding-top: 40px;
}
/* line 7, ../sass/_layout.scss */
section.content {
  position: relative;
}
/* line 10, ../sass/_layout.scss */
section.content:after {
  content: '';
  clear: both;
  display: table;
}
/* line 16, ../sass/_layout.scss */
section.content div {
  float: right;
  width: 85%;
}
/* line 20, ../sass/_layout.scss */
section.content div q {
  display: block;
  margin: 20px 0 0 auto;
  width: 70%;
}
/* line 28, ../sass/_layout.scss */
section.content .footnote {
  bottom: 0;
  float: left;
  position: absolute;
  width: 15%;
}
/* line 34, ../sass/_layout.scss */
section.content .footnote ol, section.content .footnote ul {
  padding: 10px;
  list-style: inherit;
  list-style-type: decimal;
}

/* line 1, ../sass/_img.scss */
img {
  height: auto;
  width: 100%;
}

/* line 6, ../sass/_img.scss */
.cover {
  background-image: url("../images/turbine_cover.jpg");
  background-size: cover;
}
